<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ethernom.helloworld">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".screens.LocationPermissionActivity"></activity>
        <activity android:name=".screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ForegroundNotifyRangActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".screens.AboutActivity" />
        <activity android:name=".screens.PinLengthSelectionActivity" />
        <activity android:name=".screens.SettingActivity" />
        <activity android:name=".screens.ConfirmPinActivity" />
        <activity android:name=".screens.DiscoverDeviceActivity" />

        <receiver
            android:name=".receiver.BleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ethernom.helloworld.ACTION_SCANNER_FOUND_DEVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.KillTrackerService"
            android:enabled="true" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init" />

        <receiver
            android:name=".receiver.NotificationDismissedReceiver"
            android:exported="false"></receiver>
    </application>

</manifest>